<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모집전형정보</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function showRecruitmentDetail(rcrtNo) {
            if (rcrtNo === undefined || rcrtNo === null) {
                console.error("Invalid recruitment number");
                return;
            }
            $.ajax({
                url: '/admin/recruitments/' + rcrtNo,
                type: 'GET',
                success: function(response) {
                    $('#recruitmentDetail').html(response);
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }
    </script>
</head>
<body>
<h1>모집전형정보</h1>
<form action="/admin/recruitments/search" method="post">
    <label>입학년도</label>
    <select name="yearCode">
        <option value="">전체</option>
        <option th:each="commCd : ${yearCdList}" th:value="${commCd.cd}" th:text="${commCd.cdNm}"></option>
    </select>

    <label>학과명</label>
    <select name="deptCd">
        <option value="">전체</option>
        <option th:each="commCd : ${deptCdList}" th:value="${commCd.cd}" th:text="${commCd.cdNm}"></option>
    </select>
    <button type="submit">조회</button>
</form>

<table>
    <thead>
    <tr>
        <th>학과구분</th>
        <th>모집전형</th>
        <th>기수</th>
        <th>모집시작기간</th>
        <th>모집마감기간</th>
        <th>발표일자</th>
        <th>액션</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recruitment : ${recruitments}">
        <td th:text="${recruitment.deptCd}"></td>
        <td th:text="${recruitment.recruitmentCd}"></td>
        <td th:text="${recruitment.mtcltnYdCd}"></td>
        <td>
            <p th:each="stageSchedule : ${recruitment.rcrtSchdls}" th:text="${stageSchedule.beginYmd}"></p>
        </td>
        <td>
            <p th:each="stageSchedule : ${recruitment.rcrtSchdls}" th:text="${stageSchedule.endYmd}"></p>
        </td>
        <td>
            <p th:each="stageSchedule : ${recruitment.rcrtSchdls}" th:text="${stageSchedule.prsntnYmd}"></p>
        </td>
        <td>
            <button onclick="showRecruitmentDetail(/*[[${recruitment.rcrtNo}]]*/)">보기</button>
            <a th:href="@{/admin/recruitments/delete/{id}(id=${recruitment.rcrtNo})}">삭제</a>
        </td>
    </tr>
    </tbody>
</table>

<div id="recruitmentDetail"></div>

<div>
    <span th:text="'페이지 ' + ${currentPage + 1} + ' / ' + ${totalPages}"></span>
</div>
<div>
    <a th:href="@{/admin/recruitments(page=${currentPage - 1}, size=8)}" th:if="${currentPage > 0}">이전</a>
    <a th:href="@{/admin/recruitments(page=${currentPage + 1}, size=8)}" th:if="${currentPage + 1 < totalPages}">다음</a>
</div>

</body>
</html>
