<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>코드 관리</title>
</head>
<body>
<h1>공통코드관리</h1>
<!--<form action="/admin/common-code" method="post">-->
<!--    <label>업무구분</label>-->
<!--    <select name="systemCd">-->
<!--        <option value="">전체</option>-->
<!--        <option th:each="commCd : ${systemList}" th:value="${commCd.cdSe}" th:text="${commCd.cdNm}"></option>-->
<!--    </select>-->

<!--    <label>코드명</label>-->
<!--    <select name="allCd">-->
<!--        <option value="">전체</option>-->
<!--        <option th:each="commCd : ${searchResult}" th:value="${commCd.cd}" th:text="${commCd.cdNm}"></option>-->
<!--    </select>-->
<!--    <button type="submit">조회</button>-->
<!--</form>-->

<!-- 코드 검색 결과 출력 -->
<table border="1">
    <thead>
    <tr>
        <th>코드</th>
        <th>상세 코드</th>
        <th>코드 이름</th>
        <th>설명</th>
        <th>활성화 여부</th>
        <th>생성일</th>
        <th>액션</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="commCd : ${codeList}">
        <td th:text="${commCd.cd}">코드</td>
        <td th:text="${commCd.cdSe}">상세 코드</td>
        <td th:text="${commCd.cdNm}">코드 이름</td>
        <td th:text="${commCd.cdDesc}">설명</td>
        <td th:text="${commCd.isYn}">활성화 여부</td>
        <td th:text="${#dates.format(commCd.createdAt, 'yyyy-MM-dd')}">생성일</td>
        <td>
            <a href="/edit/${commCd.id}">수정</a>
            <a href="/delete/${commCd.id}">삭제</a>
        </td>
        </td>
    </tr>
    </tbody>
</table>

<!-- 코드 추가 폼 -->
<h2>코드 추가</h2>
<form action="/admin/common-code/add" method="post">
    <label>코드</label>
    <input type="text" name="cd" required>
    <label>상세 코드</label>
    <input type="text" name="cdSe" required>
    <label>코드 이름</label>
    <input type="text" name="cdNm" required>
    <label>설명</label>
    <input type="text" name="cdDesc">
    <label>활성화 여부</label>
    <input type="text" name="isYn" required>
    <button type="submit">추가</button>
</form>

</body>
</html>
