<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maximum.koreaartschool.dao.Evaluator">

    <select id="list" resultType="com.maximum.koreaartschool.dto.Evaluator">
        select * from evaluator
    </select>
</mapper>