<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공통 코드 예시</title>
</head>
<body>

<!-- cdSe와 cd 값을 사용하여 가져온 코드 이름 출력 -->
<div>코드 이름: <span th:text="${cdSeCdName}"></span></div>

<!-- cdSe 값을 사용하여 가져온 코드 목록 출력 -->
<table border="1">
    <thead>
    <tr>
        <th>코드</th>
        <th>코드 이름</th>
        <th>설명</th>
        <th>활성화 여부</th>
        <th>생성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="commCd : ${cdSeCodeList}">
        <td th:text="${commCd.cd}"></td>
        <td th:text="${commCd.cdNm}"></td>
        <td th:text="${commCd.cdDesc}"></td>
        <td th:text="${commCd.isYn}"></td>
        <td th:text="${commCd.createdAt}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>