<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maximum.koreaartschool.dao.EvaluatorMapper">

    <select id="selectAllApplicants" resultType="com.maximum.koreaartschool.dto.ApplicantProcess">
        SELECT sa.APL_NM, sa.GNDR_CD, sa.APL_BRDT, sa.DEPT_CD, sa.RCRT_CD, sa.EVL_STG_CD,
               ae.IS_EVALUATED, ae.SCORE
        FROM STAGE_APPLICANT sa
                 INNER JOIN APPLICANT_EVALUATE ae ON sa.EVL_STG_NO = ae.EVL_STG_NO
            AND sa.RCRT_NO = ae.RCRT_NO
            AND sa.APL_NO = ae.APL_NO
    </select>

    <select id="findApplicants" resultType="com.maximum.koreaartschool.dto.ApplicantProcess">
        SELECT sa.APL_NM, sa.GNDR_CD, sa.APL_BRDT, sa.DEPT_CD, sa.RCRT_CD, sa.EVL_STG_CD,
               ae.IS_EVALUATED, ae.SCORE
        FROM STAGE_APPLICANT sa
                 INNER JOIN APPLICANT_EVALUATE ae ON sa.EVL_STG_NO = ae.EVL_STG_NO
            AND sa.RCRT_NO = ae.RCRT_NO
            AND sa.APL_NO = ae.APL_NO
        WHERE sa.DEPT_CD=#{departmentId} AND sa.RCRT_CD=#{recruitmentId} AND sa.EVL_STG_CD=#{stageId};
    </select>

    <select id="selectEvaluatorApplicants" resultType="com.maximum.koreaartschool.dto.ApplicantEvaluate">
        SELECT *
        FROM DUMMY_APPLICANT_EVALUATE;
    </select>

    <select id="selectTestEvaluatorApplicants" resultType="com.maximum.koreaartschool.dto.ShowApplicantEvaluateScore">
        select DAE.EVL_STG_NO, DAE.RCRT_NO, DAE.EVL_NO, DAE.APL_NO, DAE.APL_NM,
               (SELECT SCORE FROM evaluate_score where evlq_no = 1 and apl_no = DAE.APL_NO) AS SCORE1,
               (SELECT SCORE FROM evaluate_score where evlq_no = 2 and apl_no = DAE.APL_NO) AS SCORE2,
               (SELECT COALESCE(SUM(SCORE), 0)
                FROM evaluate_score
                WHERE evlq_no IN (1, 2)
                  AND apl_no = DAE.APL_NO) AS SCORE,
               DAE.EVL_RANK, DAE.IS_EVALUATED,
               DAE.EVL_STG_CD, DAE.RCRT_CD, DAE.DEPT_CD
        FROM DUMMY_APPLICANT_EVALUATE AS DAE, evaluate_score AS es
        GROUP BY DAE.APL_NM;
    </select>


</mapper>