<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maximum.koreaartschool.dao.EvaluatorMapper">

    <select id="selectAllEvaluator" resultType="com.maximum.koreaartschool.dto.Evaluator">
        SELECT *
        FROM EVALUATOR
    </select>

    <select id="selectAllApplicants" resultType="com.maximum.koreaartschool.dto.ApplicantProcess">
        SELECT sa.APL_NM, sa.GNDR_CD, sa.APL_BRDT, sa.DEPT_CD, sa.RCRT_CD, sa.EVL_STG_CD,
               ae.IS_EVALUATED, ae.SCORE
        FROM STAGE_APPLICANT sa
                 INNER JOIN APPLICANT_EVALUATE ae ON sa.EVL_STG_NO = ae.EVL_STG_NO
            AND sa.RCRT_NO = ae.RCRT_NO
            AND sa.APL_NO = ae.APL_NO ORDER BY sa.APL_NO ASC
    </select>

    <select id="findApplicants" resultType="com.maximum.koreaartschool.dto.ApplicantProcess">
        SELECT sa.APL_NM, sa.GNDR_CD, sa.APL_BRDT, sa.DEPT_CD, sa.RCRT_CD, sa.EVL_STG_CD,
               ae.IS_EVALUATED, ae.SCORE
        FROM STAGE_APPLICANT sa
                 INNER JOIN APPLICANT_EVALUATE ae ON sa.EVL_STG_NO = ae.EVL_STG_NO
            AND sa.RCRT_NO = ae.RCRT_NO
            AND sa.APL_NO = ae.APL_NO
        WHERE sa.DEPT_CD=#{departmentId} AND sa.RCRT_CD=#{recruitmentId} AND sa.EVL_STG_CD=#{stageId} ORDER BY sa.APL_NO ASC;
    </select>

    <select id="findByIsSelected" resultType="com.maximum.koreaartschool.dto.Evaluator">
        SELECT *
        FROM EVALUATOR
        WHERE IS_SELECTED=#{is_selected};
    </select>

    <select id="findByDepartmentId" resultType="com.maximum.koreaartschool.dto.Evaluator">
        SELECT *
        FROM EVALUATOR
        WHERE DEPT_CD=#{departmentId};
    </select>

    <select id="findByDepartmentIdAndIsSelected" resultType="com.maximum.koreaartschool.dto.Evaluator">
        SELECT *
        FROM EVALUATOR
        WHERE DEPT_CD=#{departmentId} AND IS_SELECTED=#{is_selected};
    </select>

    <update id="updateEvaluator" parameterType="com.maximum.koreaartschool.dto.Evaluator">
        UPDATE EVALUATOR
        SET evl_nm = #{evl_nm},
            dept_cd = #{dept_cd},
            evl_ogdp = #{evl_ogdp},
            evl_eml = #{evl_eml},
            is_selected = #{is_selected},
            evl_tel = #{evl_tel},
            addr = #{addr},
            addr_detail = #{addr_detail},
            bank_nm = #{bank_nm},
            act_no = #{act_no},
            slry = #{slry}
        WHERE evl_no = #{evl_no}
    </update>

    <delete id="deleteEvaluator">
        DELETE FROM EVALUATOR WHERE evl_no = #{evl_no}
    </delete>

    <insert id="insertEvaluator" parameterType="com.maximum.koreaartschool.dto.Evaluator">
        INSERT INTO EVALUATOR (evl_nm, gndr_cd, evl_brdt, dept_cd, evl_ogdp, evl_eml, is_selected, evl_tel, addr, addr_detail, bank_nm, act_no, slry)
        VALUES (#{evl_nm}, #{gndr_cd}, #{evl_brdt}, #{dept_cd}, #{evl_ogdp}, #{evl_eml}, #{is_selected}, #{evl_tel}, #{addr}, #{addr_detail}, #{bank_nm}, #{act_no}, #{slry})
    </insert>

</mapper>